## Predict the mileage of a car

### Fetch the data

In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("loan_clean2.csv")

In [41]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmountINR
0,LP001002,MALE,No,0,Graduate,No,5849,0.0,360.0,1.0,Urban,Y,12118.418487
1,LP001003,MALE,Yes,1,Graduate,No,4583,1508.0,360.0,1.0,Rural,N,10624.000000
2,LP001005,MALE,Yes,0,Graduate,Yes,3000,0.0,360.0,1.0,Urban,Y,5478.000000
3,LP001006,MALE,Yes,0,Not Graduate,No,2583,2358.0,360.0,1.0,Urban,Y,9960.000000
4,LP001008,MALE,No,0,Graduate,No,6000,0.0,360.0,1.0,Urban,Y,11703.000000

### Data cleaning

In [42]:
df.shape

(618, 13)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            618 non-null    object
 1   Gender             618 non-null    object
 2   Married            618 non-null    object
 3   Dependents         603 non-null    object
 4   Education          618 non-null    object
 5   Self_Employed      585 non-null    object
 6   ApplicantIncome    618 non-null    int64
 7   CoapplicantIncome  618 non-null    float64
 8   Loan_Amount_Term   604 non-null    float64
 9   Credit_History     567 non-null    float64
 10  Property_Area      618 non-null    object
 11  Loan_Status        618 non-null    object
 12  LoanAmountINR      618 non-null    float64
dtypes: float64(4), int64(1), object(8)
memory usage: 62.9+ KB

### Data Analysis

In [44]:
df.corr(numeric_only=True)

,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,LoanAmountINR
ApplicantIncome,1.000000,-0.116028,-0.043449,-0.015514,0.565621
CoapplicantIncome,-0.116028,1.000000,-0.056769,-0.003164,0.189136
Loan_Amount_Term,-0.043449,-0.056769,1.000000,-0.000725,0.045860
Credit_History,-0.015514,-0.003164,-0.000725,1.000000,-0.010474
LoanAmountINR,0.565621,0.189136,0.045860,-0.010474,1.000000

In [45]:
df = pd.get_dummies(df)

### Identify the input and output

In [53]:
y = df.LoanAmountINR
x = df.drop(columns=["LoanAmountINR", "Loan_ID"])

KeyError: "['Loan_ID'] not found in axis"

In [47]:
y.head()

0    12118.418487
1    10624.000000
2     5478.000000
3     9960.000000
4    11703.000000
Name: LoanAmountINR, dtype: float64

In [48]:
x.head()

,ApplicantIncome,CoapplicantIncome,Loan_Amount_Term,Credit_History,Loan_ID_LP001002,Loan_ID_LP001003,Loan_ID_LP001005,Loan_ID_LP001006,Loan_ID_LP001008,Loan_ID_LP001011,...,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Property_Area_rural,Loan_Status_N,Loan_Status_Y
0,5849,0.0,360.0,1.0,True,False,False,False,False,False,...,True,False,True,False,False,False,True,False,False,True
1,4583,1508.0,360.0,1.0,False,True,False,False,False,False,...,True,False,True,False,True,False,False,False,True,False
2,3000,0.0,360.0,1.0,False,False,True,False,False,False,...,True,False,False,True,False,False,True,False,False,True
3,2583,2358.0,360.0,1.0,False,False,False,True,False,False,...,False,True,True,False,False,False,True,False,False,True
4,6000,0.0,360.0,1.0,False,False,False,False,True,False,...,True,False,True,False,False,False,True,False,False,True

In [52]:
df.shape

(618, 637)

### Choose the algorithm

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
model = LinearRegression()

### Train the model

In [51]:
model.fit(x,y)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

### Accuracy on one hot encoded data

In [ ]:
model.score(x,y)