## Predict the mileage of a car

### Fetch the data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mpg.csv")

In [3]:
df.head()

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin
0,15.0,8,390.0,190,3850,8.5,70,American
1,21.0,6,199.0,90,2648,15.0,70,American
2,18.0,6,199.0,97,2774,15.5,70,American
3,16.0,8,304.0,150,3433,12.0,70,American
4,14.0,8,455.0,225,3086,10.0,70,American

### Data cleaning

In [4]:
df.shape

(392, 8)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MPG          392 non-null    float64
 1   Cylinders    392 non-null    int64
 2   Engine Disp  392 non-null    float64
 3   Horsepower   392 non-null    int64
 4   Weight       392 non-null    int64
 5   Accelerate   392 non-null    float64
 6   Year         392 non-null    int64
 7   Origin       392 non-null    object
dtypes: float64(3), int64(4), object(1)
memory usage: 24.6+ KB

### Data Analysis

In [6]:
df.corr(numeric_only=True)

,MPG,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year
MPG,1.000000,-0.777618,-0.805127,-0.778427,-0.832244,0.423329,0.580541
Cylinders,-0.777618,1.000000,0.950823,0.842983,0.897527,-0.504683,-0.345647
Engine Disp,-0.805127,0.950823,1.000000,0.897257,0.932994,-0.543800,-0.369855
Horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361
Weight,-0.832244,0.897527,0.932994,0.864538,1.000000,-0.416839,-0.309120
Accelerate,0.423329,-0.504683,-0.543800,-0.689196,-0.416839,1.000000,0.290316
Year,0.580541,-0.345647,-0.369855,-0.416361,-0.309120,0.290316,1.000000

In [7]:
df = pd.get_dummies(df)

### Identify the input and output

In [8]:
y = df.MPG
x = df.drop(columns=["MPG"])

In [9]:
y.head()

0    15.0
1    21.0
2    18.0
3    16.0
4    14.0
Name: MPG, dtype: float64

In [10]:
x.head()

,Cylinders,Engine Disp,Horsepower,Weight,Accelerate,Year,Origin_American,Origin_European,Origin_Japanese
0,8,390.0,190,3850,8.5,70,True,False,False
1,6,199.0,90,2648,15.0,70,True,False,False
2,6,199.0,97,2774,15.5,70,True,False,False
3,8,304.0,150,3433,12.0,70,True,False,False
4,8,455.0,225,3086,10.0,70,True,False,False

### Choose the algorithm

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
model = LinearRegression()

### Train the model

In [13]:
model.fit(x,y)

LinearRegression()

### Accuracy on one hot encoded data

In [14]:
model.score(x,y)

0.8241994699119172