# Predict the Price of a house with 2bhk and 200sqft

### Fetch The data

In [7]:
import pandas as pd

In [18]:
df = pd.read_csv("house-prices.csv")

In [19]:
df.head()

   area_in_square_feet  no_rooms   price
0                 2104         3  399900
1                 1600         3  329900
2                 2400         3  369000
3                 1416         2  232000
4                 3000         4  539900

### Data Cleaning

In [24]:
df.shape

(47, 3)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   area_in_square_feet  47 non-null     int64
 1   no_rooms             47 non-null     int64
 2   price                47 non-null     int64
dtypes: int64(3)
memory usage: 1.2 KB

### Data analysis

In [22]:
df.corr().price

area_in_square_feet    0.854988
no_rooms               0.442261
price                  1.000000
Name: price, dtype: float64

### Identify the input and output

In [30]:
y = df.price

In [31]:
x = df.drop(columns=["price"])

In [32]:
y.head()

0    399900
1    329900
2    369000
3    232000
4    539900
Name: price, dtype: int64

In [33]:
x.head()

   area_in_square_feet  no_rooms
0                 2104         3
1                 1600         3
2                 2400         3
3                 1416         2
4                 3000         4

### Choose the algorithm

In [51]:
from sklearn.linear_model import LinearRegression

In [52]:
model = LinearRegression()

### Traing the model

In [53]:
model.fit(x,y)

LinearRegression()

### Check the Accuracy

In [56]:
model.score(x,y)

0.7329450180289141

### Predict using the training Model

In [57]:
model.predict([[2000, 2]])

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([350543.21935339])